package components

templ SuccessfulAlert() {
	<script type="module">
      Swal.fire({
        title: "Good job!",
        text: "We have sent email for account activation.",
        icon: "success"
      });
  </script>
}
