package components

templ SuccessfulAlert() {
	<script type="module" x-data="{}" x-init="
      setTimeout(
        () => {
          setTimeout(
            () => {
              $el.remove();
            },
            600
          )
        },
        1500,
      )
    ">
      Swal.fire({
        title: "Good job!",
        text: "We have sent email for account activation.",
        icon: "success"
      });
  </script>
}
