package pages

import (
	"github.com/N0tR1CH/sad/views/components"
	"github.com/N0tR1CH/sad/views/layouts"
)

templ NewDiscussionPage(dfp components.DiscussionFormProps) {
	@layouts.Base() {
		@components.Logo()
		@components.DiscussionForm(dfp)
	}
}
